html, body {
	height: 100%;
	margin: 0;
}
body {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#mainwrapper {
	width: 100%;
	max-width: 70em;
	max-height: 100%;
}
#mainwrapper.compact {
	max-width: 30em;
}
select, input, textarea {
	font-size: inherit;
	font-family: inherit;
}
main {
	padding: 0.5em;
	background-color: #EFEFEF;
	border-radius: 3px;
	
	width: 100%;
	box-sizing: border-box;
}
footer {
	text-align: right;
	padding: 0.1px;
}
a {
	color: inherit;
	text-decoration: none;
}
input[type=number] {
	-moz-appearance: textfield;
}
input[type=submit], button, a.button {
	font-family: inherit;
	font-size: 0.9em;
	color: rgba(0, 0, 0, 0.8);
	font-weight: inherit;
	
	padding: 0.4em;
	
	background-color: #E5E5E5;
	border: none;
}
input[type=submit].large, button.large, a.button.large {
	font-size: 1.2em;
	background-color: #FFFFFF;
	border-bottom: 5px solid #E5E5E5;
}
textarea, input[type=time] {
	border: none;
	background: #FFFFFF;
	
	width: 100%;
	box-sizing: border-box;
}
textarea {
	height: 7em;
	min-height: 7em;
	resize: vertical;
}

main.calendar {
	display: flex;
	flex-wrap: wrap;
}
div.day {	
	width: 14.285714%;
	padding-top: 11.428571%;
	
	position: relative;
}
div.day > a {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 6.25%;
	bottom: 6.25%;
	
	display: flex;
	flex-direction: row-reverse;
	
	background-color: #FFFFFF;
	border-bottom: 5px solid #E5E5E5;
	padding: 0.5em;
}
div.day h2 {
	margin: 0;
}
div.day ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	width: 100%;
	overflow: hidden;
	position: relative;
	
	color: rgba(0, 0, 0, 0.6);
}
div.day ul::after {
	content: "";
	display: block;
	
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1em;
	
	background: linear-gradient(to bottom, transparent, #FFFFFF);
}
div.day li {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
div.day.busy > a {
	background-color: #C6D8EE;
	border-bottom-color: #B2C2D6;
}
div.day.busy ul::after {
	background: linear-gradient(to bottom, transparent, #C6D8EE);
}

h1.monthpicker span {
	position: relative;
	display: inline-block;
}
h1.monthpicker span,
h1.monthpicker button {
	vertical-align: middle;
}
h1.monthpicker select {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}

ul.events {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
ul.events li {
	display: flex;
	padding: 1em;
	
	background-color: #FFFFFF;
	border-bottom: 5px solid #E5E5E5;
}
ul.events li:not(:first-of-type) {
	margin-top: 5px;
}
ul.events li > * {
	margin: 0;
	display: flex;
	align-items: center;
}
ul.events h2 {
	flex-basis: 3em;
	flex-shrink: 0;
}
ul.events p {
	margin: 0 0.5em;
	word-break: break-word;
	flex-grow: 1;
}
ul.events button:first-of-type {
	margin-right: 0.5em;
}
div.finalbuttons {
	margin-top: 5px;
}
div.finalbuttons > *:first-child {
	float: right;
}

main.inputs input,
main.inputs textarea {
	font-size: 1.5em;
}
main.inputs h2 {
	margin: 0.2em 0;
	font-weight: inherit;
}
main.inputs h2:first-of-type {
	margin-top: 0;
}

button.circle {
	font-size: inherit;
	background: transparent;
	padding: 0;
	
	display: inline-block;
	height: 0.7em;
	width: 0.7em;
	min-width: 22px;
	min-height: 22px;
	box-sizing: border-box;
	
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.67);
	border-radius: 50%;
	
	cursor: pointer;
}
button.circle:active {
	background-color: rgba(0, 0, 0, 0.67);
}
button.circle:active::before {
	border-color: #FFFFFF;
}
button.circle:disabled {
	display: none;
}
button.circle::before {
	content: "";
	display: block;
	
	border-right: 1px solid rgba(0, 0, 0, 0.67);
	border-bottom: 1px solid rgba(0, 0, 0, 0.67);
	
	position: absolute;
	transform: rotate(45deg);
}
button.circle.up::before {
	transform: rotate(225deg);
	
	width: 0.2em;
	height: 0.2em;
	min-width: 6px;
	min-height: 6px;
	top: 36%;
	left: 31%;
}
button.circle.down::before {
	width: 0.2em;
	height: 0.2em;
	min-width: 6px;
	min-height: 6px;
	top: 22%;
	left: 31%;
}
button.circle.accept::before {
	width: 0.2em;
	height: 0.3em;
	min-width: 6px;
	min-height: 9px;
	top: 13%;
	left: 31.9%;
}

@media screen and (max-width: 900px) {
	main {
		padding: 0.25em;
	}
	div.day > a, ul.events li, button.large, input[type=submit].large, a.button.large {
		border-bottom-width: 3px;
	}
	header, footer {
		margin-left: 1em;
		margin-right: 1em;
	}
	ul.events form.actions {
		flex-direction: column;
		justify-content: center;
	}
	ul.events button {
		width: 100%;
	}
	ul.events button:first-of-type {
		margin-right: 0;
		margin-bottom: 0.5em;
	}
}
@media screen and (max-width: 600px) {
	div.day > a {
		align-items: center;
	}
	div.day ul {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	h1 {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 350px) {
	div.day h2 {
		font-size: 1em;
	}
}
