<!DOCTYPE html>
<html>
	<head>
		<title>@ViewData["Title"] - Calendar by Szopiński</title>
		
		<link rel="stylesheet" href="/calendar.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8">
		
		<script src="/calendar.js"></script>
	</head>
	<body>
		<div id="mainwrapper" class="@(ViewData.ContainsKey("Compact") ? "compact" : "")">
			@RenderBody()
			<footer>
				<p>Calendar by Szopiński</p>
			</footer>
		</div>
	</body>
</html>
