@{
    ViewData["Title"] = "Calendar";
}

<header>
	<h1 class="monthpicker">
		<span>
			<span id="monthDisplay">February</span>
			<select id="month" onchange="changeMonth()">
				<option value="01">January</option>
				<option value="02" selected>February</option>
				<option value="03">March</option>
				<option value="04">April</option>
				<option value="05">May</option>
				<option value="06">June</option>
				<option value="07">July</option>
				<option value="08">August</option>
				<option value="09">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>
			<button class="circle down dropdown"></button>
		</span>
		<span>
			<span id="year">2020</span>
			<button class="circle up" onclick="changeYear(true)"></button>
			<button class="circle down" onclick="changeYear(false)"></button>
			<button id="acceptDate" class="circle accept" onclick="changeDate()" disabled></button>
		</span>
	</h1>
</header>
<main>
	<div class="day"></div>
	<div class="day"></div>
	<div class="day"></div>
	<div class="day"></div>
	<div class="day"></div>
	<div class="day">
		<a href="2020-02-15">
			<h2>15</h2>
			<ul>
				<li>Walk the dog</li>
				<li>Go to the barber shop</li>
				<li>Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
				<li>Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
				<li>Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
			</ul>
		</a>
	</div>
	<div class="day busy">
		<a href="2020-02-15">
			<h2>16</h2>
			<ul>
				<li>Walk the dog</li>
				<li>Go to the barber shop</li>
				<li>Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
				<li>Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
				<li>Aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
			</ul>
		</a>
	</div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
	<div class="day"><a href="2020-02-15"></a></div>
</main>
